<! DOCTYPE html>
<html lang="ja">
    <head>
	<title>
	    {% block title %}
	    {% endblock %}
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="theme-color" content="#2e021b">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400|Roboto:100,100i,300,300i,400,400i,500,500i,700" rel="stylesheet">

	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body class="body-container">
	{% block body%}
	{% endblock %}
	<script src="/static/js/myscripts.js"></script>
    </body>
</html>
