{% extends "base.html" %}
{% block body %}
<nav>
    <input id="nav-input" type="checkbox" class="check-unshown">
    <label class="nav-close check-unshown" for="nav-input"></label>
    <div class="nav-content">
	<h1>
	    <p class="container">KKI-Assist Manager</p>
	</h1>
	<ul class="nav-menu">
	    <li>
		<a href="{% url 'trouble:trouble_list' %}"><i class="fas fa-home fa-fw nav-fas"></i>Home</a>
	    </li>
	    <li>
		<a href="#"><i class="fas fa-user fa-fw nav-fas"></i>MyPage</a>
	    </li>
	    <li>
		<input id="trouble-accordion" type="checkbox" class="check-unshown accordion">
		<label for="trouble-accordion"><i class="fas fa-file-alt fa-fw nav-fas"></i>Trouble</label>
		<ul>
		    <li><a href="{% url 'trouble:trouble_list' %}">Log<i class="fas fa-caret-right fa-fw"></i></a></li>
		    <!-- <li><a href="#">Report<i class="fas fa-caret-right fa-fw"></i></a></li> -->
		    <li><a href="#" style="opacity: .3">Trouble User<i class="fas fa-caret-right fa-fw"></i></a></li>
		    <li><a href="#" style="opacity: .3">Category<i class="fas fa-caret-right fa-fw"></i></a></li>
		</ul>
	    </li>
	    <li>
		<a href="#"><i class="fas fa-users fa-fw nav-fas"></i>Users</a>
	    </li>

	    <li>
		<a href="{% url 'account:passchange' %}"><i class="fas fa-cog fa-fw nav-fas"></i>Setting</a>
	    </li>
	    <li>
		<a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt fa-fw nav-fas"></i>Logout</a>
	    </li>
	    <div class="now-development">
		<h2>Now Development</h2>
		<li>
		    <a href="#"><i class="fas fa-chart-bar fa-fw nav-fas"></i>Metting</a>
		</li>
		<li>
		    <a href="#"><i class="fas fa-inbox fa-fw nav-fas"></i>Drop</a>
		</li>
		<li>
		    <a href="#"><i class="fas fa-book fa-fw nav-fas"></i>Book</a>
		</li>
	    </div>
	</ul>
    </div>
</nav>
<main>
    <header>
	<div class="flex-container">
	    {% block header %}{% endblock %}
	</div>
    </header>
    <div class="main-container">
	{% block contents %}{% endblock %}
    </div>
</main>
{% endblock %}
